body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}


ul {
    display: flex;
    background-color: #D9D9D9;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 400;
}

.logo {
    padding-right: 250px;
}

.navbar-menu {
    padding-right: 89px;
}

.container {
    height: 460px;
}

.text {
    text-align: center;
}

.article-section-1 {
    display: flex;
    margin-bottom: 5px;
}

.article-section-2 {
    display: flex;
    margin-bottom: 5px;
}

.article-section-3 {
    display: flex;
}

h4 {
    margin-top: 3px;
    margin-left: 10px;
}

p {
    display: block;
    margin-top: 3px;
    margin-left: 10px;
}


.footer {
    background-color: #D9D9D9;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 35px;
    text-align: center;
    font-size: 25px;
}

.p-footer {
    margin-top: 5px;
    margin-bottom: 20px;
}