body {
    padding: 0;
    margin: 0;
}

.topnav {
    display: flex;
    align-items: baseline;
    gap: 32px;
    background-color: #74959A;
}

.topnav a {
    font-size: 24px;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    padding-top: 41px;
    padding-bottom: 32px;
}

.topnav img {
    padding-left: 45px;
    padding-top: 25px;
}


.container-gallery img {
    width: 400px;
    height: 250px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    
}


.container-gallery h1 {
    /* display: block;
    margin-left: 30px;
    margin-right: 20px; */
    text-align: center;
    
}

.footer {
    background-color: #BB6464;
}

.p-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    font-family: 'Merriweather', serif;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}

p {
    text-align: center;
}

.price {
    text-align: center;
    margin-bottom: 10px;
}

.rating {
    text-align: center;
    margin-bottom: 10px;
}

input {
    display: block;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}